In [18]:
import random
import imblearn
import numpy as np
import pandas as pd
from catboost import CatBoostClassifier
from imblearn.combine import SMOTETomek
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
data = pd.read_csv('train.csv')
data.head()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [3]:
X = data.iloc[:, 2:]
X.head()

,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,2,2,5,1,0,0,1,0,0,0,...,9,1,5,8,0,1,1,0,0,1
1,1,1,7,0,0,0,0,1,0,0,...,3,1,1,9,0,1,1,0,1,0
2,5,4,9,1,0,0,0,1,0,0,...,4,2,7,7,0,1,1,0,1,0
3,0,1,2,0,0,1,0,0,0,0,...,2,2,4,9,0,0,0,0,0,0
4,0,2,0,1,0,1,0,0,0,0,...,3,1,1,3,0,0,0,1,1,0

In [4]:
y = data['target']

In [5]:
cat_col = [i for i in range(0, len(X.columns)) if 'cat' in X.columns[i]]

In [6]:
sm = SMOTE()

In [7]:
X_sm, y_sm = sm.fit_resample(X, y)

In [9]:
smt = SMOTETomek(n_jobs=-1)
X_smt, y_smt = smt.fit_resample(X, y)

/home/masoud533/anaconda3/lib/python3.8/site-packages/imblearn/over_sampling/_smote/base.py:336: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(

In [11]:
X_train, X_eval, y_train, y_eval = train_test_split(X, y)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X_smt, y_smt)

In [22]:
model = CatBoostClassifier(iterations=1200, learning_rate=0.1, depth=6, eval_metric='F1', verbose=10)

In [ ]:
model.fit(X_train, y_train, cat_col, eval_set=(X_eval, y_eval))

0:	learn: 0.7725280	test: 0.0762930	best: 0.0762930 (0)	total: 604ms	remaining: 12m 4s
10:	learn: 0.9241829	test: 0.0569036	best: 0.0762930 (0)	total: 5.92s	remaining: 10m 39s
20:	learn: 0.9579932	test: 0.0257374	best: 0.0762930 (0)	total: 11.1s	remaining: 10m 25s
30:	learn: 0.9723968	test: 0.0045759	best: 0.0762930 (0)	total: 16.3s	remaining: 10m 13s
40:	learn: 0.9774168	test: 0.0018262	best: 0.0762930 (0)	total: 21.3s	remaining: 10m 2s
50:	learn: 0.9797034	test: 0.0003683	best: 0.0762930 (0)	total: 26.6s	remaining: 9m 58s
60:	learn: 0.9798676	test: 0.0000000	best: 0.0762930 (0)	total: 31.5s	remaining: 9m 47s
70:	learn: 0.9800295	test: 0.0000000	best: 0.0762930 (0)	total: 36.3s	remaining: 9m 37s
80:	learn: 0.9802520	test: 0.0003694	best: 0.0762930 (0)	total: 41.5s	remaining: 9m 33s
90:	learn: 0.9803208	test: 0.0003694	best: 0.0762930 (0)	total: 46.5s	remaining: 9m 26s
100:	learn: 0.9803135	test: 0.0007387	best: 0.0762930 (0)	total: 51.4s	remaining: 9m 19s
110:	learn: 0.9803230	test: 0.0011078	best: 0.0762930 (0)	total: 56.5s	remaining: 9m 14s
120:	learn: 0.9803857	test: 0.0011080	best: 0.0762930 (0)	total: 1m 1s	remaining: 9m 12s
130:	learn: 0.9804075	test: 0.0011080	best: 0.0762930 (0)	total: 1m 7s	remaining: 9m 9s
140:	learn: 0.9804764	test: 0.0014774	best: 0.0762930 (0)	total: 1m 12s	remaining: 9m 5s
150:	learn: 0.9804800	test: 0.0014774	best: 0.0762930 (0)	total: 1m 17s	remaining: 9m
160:	learn: 0.9805018	test: 0.0014774	best: 0.0762930 (0)	total: 1m 22s	remaining: 8m 55s
170:	learn: 0.9805187	test: 0.0014774	best: 0.0762930 (0)	total: 1m 27s	remaining: 8m 49s
180:	learn: 0.9805199	test: 0.0018464	best: 0.0762930 (0)	total: 1m 33s	remaining: 8m 44s
190:	learn: 0.9805236	test: 0.0025840	best: 0.0762930 (0)	total: 1m 38s	remaining: 8m 41s

In [ ]:
y_pred = model.predict(X_eval)

In [ ]:
print(classification_report(y_true=y_eval, y_pred=y_pred))

Masoud Mapar